:root{
    --bgr-index: url('image/iconimage/bgrIndex.jpg');
    --layout-color: #fff;
    --text-font: 'Manrope', sans-serif;
    --title-font: Sail,cursive;
    --script-font: 'Great Vibes', cursive;
    --text-color: #6a6a6a;
    --h1-font-size: 32px;
    --h2-font-size: 70px;
    --h3-font-size: 40px;
    --h4-font-size: 24px;
    --h5-font-size: 22px;
    --h6-font-size: 16px;
    --h1-font-weight: 600;
    --h2-font-weight: 600;
    --h3-font-weight: 600;
    --h4-font-weight: 600;
}
[mobile]{
    --h1-font-size: 24px;
}
[mobile] h1{
    font-size: var(--h1-font-size);
    margin: 12px 0;
    font-weight: bold;
}
[mobile] p{
    margin: 4px 0;
}
.title-text{
    font-family: var(--title-font);
    font-style: 36px;
    text-transform: capitalize
}
.script-text{
    font-family: var(--script-font);
}
.flex-content{
    display: flex;
}
body{
    padding: 0;
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
    font-family: var(--text-font);
    position: relative;
    background: var(--bgr-index);
    scroll-behavior: smooth;
}
.baobi{
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.baobi .title{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    font-family: var(--script-font);
    font-size: var(--h1-font-size);
    letter-spacing: 0.05em; 
    text-transform: capitalize;
    border-bottom: 2px solid rgba(0, 0, 0, 0.397);
    position: relative;
}
.baobi .title>img:nth-child(1){
    position: absolute;
    left: 2px;
    top: 0;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
}
.baobi .tenthiep{
    position: absolute;
    left: 70%;
    top: 0;
    padding: 0 50px;
    height: 100vh;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #00000038;
    color: #000000a8;
}
[mobile] .baobi .tenthiep{
    position: unset;
    background-color: unset;
    height: auto;
    width: auto;
}
.baobi>div:nth-child(2){
    height: 30%;
    width: 100%;
    text-align: center;
    margin-top: 5%;
}
.baobi>div:nth-child(2) span{
    text-decoration: underline dotted 2px;
    text-underline-offset: 4px;
    font-family: var(--script-font);
}
.next-button{
    padding: 10px 30px;
    background-color: #00000038;
    outline: none;
    border: none;
    border-radius: 30px;
    color: black;
    animation: scaleanm 2s infinite;
    cursor: pointer;
}
[desktop][opent] .baobi .tenthiep,
[tablet][opent]  .baobi .tenthiep
{
    animation: bobaobi 2s forwards;
}
section{
    width: 100vw;
    height: 100vh;
    /* display: none; */
}
body:has(.opent) section{
    display: block;
}
.p-info{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.p-info .title{
    font-family: var(--script-font);
    font-size: var(--h1-font-size);
    text-align: center;
    text-decoration: underline;
}
.p-info>div{
    width: 100%;
    height: max-content;
    text-align: center;display: flex;
    justify-content: space-around;
}
.p-info>div>div{
    max-width: 50%;
    display: flex;
}
.p-info>div>div>div:nth-child(2){
    flex-grow: 1;
}
.p-info .khung{
    height: 550px;
    overflow: hidden;
    border-radius: 5px;
}
.p-info .khung img{
    height: 100%;
    width: 400px;
}
.p-info .thongtingiadinh{
    margin-left: 20px;
}
@keyframes scaleanm{
    0%,100%{
        transform: scale(1);
        box-shadow: 0 0px 20px rgba(0, 0, 0, 0);
    }
    50%{
        transform: scale(1.1);
        box-shadow: 0 1px 20px rgba(0, 0, 0, 0.082),
                    0 -1px 20px rgba(0, 0, 0, 0.082),
                    0 0 20px rgba(0, 0, 0, 0.082),
                    0 0 20px rgba(0, 0, 0, 0.082);
    }
}
@keyframes bobaobi {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(1000px);
    }
}

[mobile] .flex-content{
    flex-direction: column;
}

/* @keyframes open{
    from{
        transform: rotate(0) ;
        box-shadow: 10px 20px 50px black;
    }
    to{
        transform: rotateX(-180deg);
        box-shadow: 10px 20px 50px black;
    }
} */
